# Ambiente virtual
.venv/

# Variáveis de ambiente
.env

# Python
__pycache__/
*.py[cod]

# Streamlit
.streamlit/

# Banco vetorial
data/vectorstore/

# IDEs
.vscode/
.idea/

# Sistema operacional
.DS_Store
Thumbs.db

# Python package metadata
src/eduagent_ia.egg-info/
